$yellow: rgb(251, 216, 74);
$black: #000;
$header-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
header {
  width: 100%;
  height: 65px;
  background: $yellow;
  box-shadow: $header-shadow;
  position: fixed;
  top: 0;
  z-index: 10;
  .c-nav-brand {
    color: $black;
    h1 {
      font-size: 30px;
      @media (max-width: 576px) {
        font-size: 25px;
      }
    }
  }
}
.main-menu {
  max-width: 600px;
  width: 85%;
  margin: 0 auto;
  text-align: center;
  position: relative;
 
  top: 80px;
  h2 {
    font-size: 35px;
    margin: 10px 0;
  }
  .accordion {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    background: $black;
    color: $yellow;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in;
    letter-spacing: 2px;
    &:hover {
      transition: 0.3s ease-in;
      span {
        i {
          font-size: 25px;
          transition: 0.2s ease-in;
          top: 0px;
        }
      }
    }
  }
  .panel {
    display: block;
    width: 85%;
    margin: 5px auto;
     position: relative;

    .c-menu-row {
      font-size: 20px;
      color: #000;
      text-align: left;
      padding-left: 2%;
      @media (max-width:399px){
       padding-left: 4%;
      }

      .c-col-item {
        h4{
          @media (max-width:399px){
            font-size: 1.2rem;
           }
        }
        .veg{
          &::after{
            content: "";
            position: absolute;
            left:-18px;
            top:4px;
            width:20px;
            height: 20px;
            background: url("https://img.icons8.com/color/78/000000/vegetarian-food-symbol.png");
            background-size: contain;    
              
          }
        }
        .non-veg{
          &::after{
            content: "";
            position: absolute;
            left:-18px;
            top:4px;
            width:20px;
            height: 20px;
            background: url("https://img.icons8.com/color/78/000000/non-vegetarian-food-symbol.png");
            background-size: contain;    
              
          }
        }
        .item-description {
          font-style: italic;
          font-size: 18px;
          color: gray;
          @media (max-width:399px){
            font-size: 15px;
          }
        }
      }
      .c-col-price{
        @media (max-width:399px){
          font-size: 16px;
        }
      }
    }
  }
}